
Data Manipulation/Data Manipulation with R (plyr, dplyr, reshape2, data.table.pdf
Data Manipulation/Data Munging Using R 23Jun15.html
Data Manipulation/plyr/.Rhistory
Data Manipulation/plyr/.Rhistory
Data Manipulation/dplyr and tydr/.Rhistory
